@using Newtonsoft.Json
@model Hudl.BugBounty.WebApp.Models.Hit

@section Styles
{
    <link rel="stylesheet" type="text/css" href="~/css/hit/hit.css" />
}

@{
    ViewBag.Title = "Hudl Bug Bounty - Hit";

    var hitId = Model.key;
}

<div id="hit-content">
</div>

@section Scripts
{
    <script type="text/javascript">var hitId = "@hitId";</script>

}
