@{
    ViewBag.Title = "Hudl Bug Bounty";
}
<div id="content"></div>

@section Scripts
{
    <!--<script type="text/babel" src="scripts/home/index.js"></script>-->
    <script type="text/javascript" src="scripts/bundle.js"></script>
}
