@section Styles
{
    <link rel="stylesheet" type="text/css" href="css/index.css" />
}

@{
    ViewBag.Title = "Hudl Bug Bounty";
}
<div id="content"></div>

@section Scripts
{
    <script type="text/javascript" src="scripts/home/bundle.js"></script>
}
