@section Styles
{
    <link rel="stylesheet" type="text/css" href="~/css/bounties/index.css" />
}

@{
    ViewBag.Title = "Hudl Bug Bounties";
}

<div id="bounties-content"></div>
@section Scripts
{
    
}