@section Styles
{
    <link rel="stylesheet" type="text/css" href="~/css/bounties/index.css" />
}

@{
    ViewBag.Title = "Hudl Bug Bounties";
}

<div id="content">
    <ul class="flex-container">  
        <li class="flex-item">
            <main>
                <div id="root"></div>
            </main>
        </li>
    </ul>
</div>

@section Scripts
{
    <!--<script type="text/javascript" src="~/js/bounties/bundle.js"></script>-->
    <script src="js/bounties.js"></script>
}
